.showcase-card {
    transition: .3s ease;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 20px;
    z-index: 10;
    position: relative;
}

.showcase-card:hover {
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 30%);
    padding-bottom: 6px;
    padding-top: 5px;
    transition: .3s ease;
}